@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-concept__txt__wrapper{
    @include mixin.mq(pc){
        width:calc(482/964 * 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left:calc(67/va.$pc-design-width*100vw);
    }
}