@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-logo{
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width:max(calc(110/va.$sp-design-width*100vw),110px);
    height:max(calc(13/va.$sp-design-width*100vw),13px);
    @include mixin.mq(pc){
        width:max(calc(110/va.$pc-design-width*100vw),110px);
        height:max(calc(13/va.$pc-design-width*100vw),13px);
    }
}