@use '../Foundation/vars' as va;
@use '../Foundation/mixin';

.l-footer{
    font-size:max(calc(10/va.$sp-design-width*100vw),10px);
    font-family: "Meiryo";
    line-height: calc(12/10);
    color:#333333;
    margin-bottom:max(calc(17/va.$sp-design-width*100vw),12px);
    padding-left:calc(40/va.$sp-design-width*100vw);
    @include mixin.mq(pc){
        font-size:max(calc(10/va.$pc-design-width*100vw),10px);
        margin-bottom:max(calc(17/va.$pc-design-width*100vw),12px);
        padding-left:calc(340/va.$pc-design-width*100vw);
    }
}