@use '../Foundation/mixin';
@use '../Foundation/vars' as va;
.l-header{
    padding-left:max(calc(10/va.$sp-design-width*100vw),10px);
    @include mixin.mq(pc){
        padding-left:calc(140/va.$pc-design-width*100vw);
        padding-bottom:calc(15/va.$pc-design-width*100vw);
    }
}