@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-mv{
    width: 100vw;
    height:max(calc(150/va.$sp-design-width*100vw),150px);
    object-fit: cover;
    margin-bottom:max(calc(60/va.$sp-design-width*100vw),60px);
    width:100vw;
    @include mixin.mq(pc){
        margin-bottom:max(calc(60/va.$pc-design-width*100vw),60px);
        width: 1000px;
        height: 400px;
    }
}