@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-main{
    width:max(calc(335/va.$sp-design-width*100vw));
    margin:0 auto;
    @include mixin.mq(pc){
        width:max(calc(800/va.$pc-design-width*100vw));
    }
}