@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__bicycle__heading2{
    font-size:max(calc(32/va.$sp-design-width*100vw),32px);
    font-weight: bold;
    font-family: "Meiryo";
    line-height: calc(38/32);
    color:#383E45;
    display: flex;
    justify-content: center;
    position:relative;
    margin-bottom:max(calc(67/va.$sp-design-width*100vw),67px);
    &::after{
        content: '';
        position:absolute;
        bottom:-7px;
        height: 1px;
        width:max(calc(117/va.$sp-design-width*100vw),117px);
        background-color: #383E45;
    }
    @include mixin.mq(pc){
        font-size:max(calc(32/va.$pc-design-width*100vw),32px);
        margin-bottom:max(calc(67/va.$pc-design-width*100vw),67px);
        &::after{
            width:max(calc(117/va.$pc-design-width*100vw),117px);
        }    
    }
}