@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__bicycle__card__container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    @include mixin.mq(pc){
        flex-direction: row;
    }
}