@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-mv{
    object-fit: cover;
    width:max(calc(355/va.$sp-design-width*100vw),355px);
    height:max(calc(142/va.$sp-design-width*100vw),142px);
    margin:0 auto;
    @include mixin.mq(pc){
        width:max(calc(1000/va.$sp-design-width*100vw),1000px);
        height:max(calc(400/va.$pc-design-width*100vw),400px);
    }
}