@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-mv{
    object-fit: cover;
    width:max(calc(355/va.$sp-design-width*100vw),355px);
    height:max(calc(142/va.$sp-design-width*100vw),142px);
    margin:0 auto;
    display: block;
    @include mixin.mq(pc){
        width:calc(1000/va.$pc-design-width*100vw);
        height:calc(400/va.$pc-design-width*100vw);
    }
}