@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-heading1{
    //font-family: va.//$font-Japanese;
    font-size:max(calc(28/va.$sp-design-width*100vw));
    color: va.$text-color;
    line-height: calc( 42/28 );
    //letter-spacing: calc(/1000 * 1em);
    font-weight: bold;
    @include mixin.mq(pc){
        font-size:max(calc(28/va.$pc-design-width*100vw));
        line-height: calc( 48/28 );
        padding-top:max(calc(45/va.$pc-design-width*100vw));
        //letter-spacing: calc(/1000 * 1em);
    }
}