@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-recipe__ingredient__txt{
    //font-family: va.//$font-Japanese;
    font-size:16px;
    color: va.$text-color;
    line-height: calc( 24/16 );
    //letter-spacing: calc(/1000 * 1em);
    //font-weight: 500;
}