@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.c-sns-list__item__link{
    //display: block;
    text-decoration: underline 1px #2B2A27;
    font-family: va.$font-base;
    font-size:max(calc(12/va.$sp-design-width*100vw));
    color: va.$text-color;
    line-height: calc( 21/12 );
    //letter-spacing: calc(/1000 * 1em);
    //font-weight: 500;
    @include mixin.mq(pc){
        font-size:max(calc(12/va.$pc-design-width*100vw));
    //line-height: calc( / );
    //letter-spacing: calc(/1000 * 1em);
    }
}